<div class="sign-in">
    <form>
        <div class="form-title">Вход</div>
        {{{loginInput}}}
        {{{passwordInput}}}
        {{{signInButton}}}
        {{{noAccountLink}}}
    </form>
</div>
