@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

$font-family: 'Ubuntu', sans-serif;

$color-alarm: #EC2424;
$color-base: #F4F6FA;
$color-basic: #FFFFFF;
$color-main: #1E1E1E;
$color-primary: #2C9AFF;
$color-secondary: #9BA0AB;
$color-base-grey: #EEF2FB;

$form-width: 340px;
$sidebar-width: 400px;
