@import './src/styles/partials/variables';

.change-password {
  $icon-size: 92px;

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;


  .change-password-info {
    margin-bottom: 24px;
    border-bottom: 1px solid $color-base-grey;
    text-align: center;

    .change-password-info__icon {
      width: $icon-size;
      height: $icon-size;
      margin: 0 auto 12px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='92' height='92' viewBox='0 0 92 92' fill='none'%3e%3cpath d='M72.8333 42.1667H19.1667C14.9325 42.1667 11.5 45.5992 11.5 49.8333V76.6667C11.5 80.9009 14.9325 84.3333 19.1667 84.3333H72.8333C77.0675 84.3333 80.5 80.9009 80.5 76.6667V49.8333C80.5 45.5992 77.0675 42.1667 72.8333 42.1667Z' stroke='%232C9AFF' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M26.8333 42.1667V26.8333C26.8333 21.75 28.8527 16.8749 32.4471 13.2805C36.0415 9.686 40.9167 7.66666 46 7.66666C51.0833 7.66666 55.9584 9.686 59.5529 13.2805C63.1473 16.8749 65.1666 21.75 65.1666 26.8333V42.1667' stroke='%232C9AFF' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center center;
    }

    .change-password-info__text {
      padding-bottom: 24px;
      font-size: 12px;
      font-weight: 400;
      line-height: 135%;
      color: $color-secondary;
    }
  }

  .footer {
    margin-top: 38px;
  }

  form {
    position: relative;
  }
}
